<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit</h1>
<div  th:each="item : ${listErr}" >
    <h5 th:text="${item.getDefaultMessage()}"></h5>
</div>
<form action="/cars/edit" method="post" th:object="${car}">
    <input type="hidden" th:field="*{id}">
    <input type="text" th:field="*{name}">
    <input type="number" value="0"  th:field="*{price}">
    <input type="text" name="description"  th:field="*{description}">
    <select th:field="*{brand.id}">
        <option th:each="item : ${listBrand}" th:text="${item.name}" th:value="${item.id}">
    </select>
    <input type="submit" value="Save">
</form>
</body>
</html>